/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.navbar-desktop li {
    display: inline;
    margin: 0 15px;
}

.navbar-desktop li a {
    color: #333333;
    text-decoration: none;
}

.navbar-mobile {
    display: none;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

/* Styles pour le menu mobile */
.navbar-mobile-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px; /* Ajustez si nécessaire */
    left: 0;
    width: 100%;
    background-color: #333;
}

.navbar-mobile-menu li {
    display: block;
    text-align: center;
}

.navbar-mobile-menu li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.navbar-mobile-menu li a:hover {
    background-color: beige;
}
.navbar{
    transition: transform 0.3s ease;
}

.navbar:hover{
    background-color: beige;
    transform: scale(1.1);
}

/* Affichage du menu burger en mobile */
@media (max-width: 768px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: block;
        text-align: center;
    }
}

/* Styles des sections */
.section {
    padding: 50px 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li {
    display: inline-block;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 5px;
}

.navbar {
    background-color: #dcdcdc;
    padding: 10px;
    border-radius: 5px;
}

.project, .media-item {
    background-color: #fff;
    margin: 20px auto; /* Center align the projects and media items */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Optional: to prevent too wide content */
}

a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

a img:hover {
    transform: scale(1.2);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.imgQUB {
    height: 300px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.imgQUB:hover {
    transform: scale(1.1);
}
